.button{
    border: 0;
    width: 13rem;
    font-size: 5rem;
    border-radius: 1rem;
    border:0.1rem solid $white;
    box-shadow: 0.1rem 0.1rem 0.5rem $shadow;
    color: $white;
    text-shadow: 0.1rem 0.1rem 0.5rem $shadow;
    @include flexC;
    cursor: pointer;
    &--big{
        height: 11rem;
        font-size: 7rem;
    }
    &--little{
        height: 5rem;
    }
    &--maxi{
        width: 27rem;
        font-size: 2rem;
        height: 5rem;
        text-transform: uppercase;
    }
    &--maxi2{
        width: calc(100% - 0.5rem);
        font-size: 6rem;
        height: 12rem;
        text-transform: uppercase;
    }
    &--maxi3{
        width: 27rem;
        font-size: 2rem;
        height: 5rem;
        text-transform: uppercase;
        @include flexRSB;
        padding: 0 6rem;
    }
    &--mini1{
        height: 5rem;
        width: 5rem;
        background-color: $blueMain;
    }
    &--mini2{
        height: 5rem;
        width: 5rem;
        margin: 0 5rem;
        background-color: $greenMain;
    }
}