.main{
  .carrousel{
    width: 80%;
    height: 200em;
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: row;
    position:relative;
    justify-content: space-around;
    overflow:visible;
    img{
      width: 100%;
      display:block;
      position: relative;
      margin-right: auto;
      margin-left: auto;
    }

  }
}
