.final{
    height: 100%;
    &__art{
        height: 100%;
        @include flexCSB; 
        padding: 2rem 0;  
        button:nth-child(2){
            background-color: $greenMain;
        }
        button:nth-child(3){
            background-color: $blueMain;
        }
        button:nth-child(4){
            background-color: $greenMain;
        }

    }
    &__link{
        button{
            background-color: $blueMain;
        }
    }
    &__box{
        height: 20rem;
        width: 100%;
        border-radius: 1rem;
        background: url(./../images/forestia.jpeg) no-repeat center/cover;
    }
}