.main{
    @include introMob;
    @include flexCSB;
    height: 60rem;
    width: 100%;
    border-radius: 1rem;
    background-color: $white3;
    border: 0.3rem solid $blueMain;
    box-shadow: 0.2rem 0.2rem 0.2rem $shadow;
}
.main2{
    @include introMob;
    @include flexCSB;
    padding: 0;
    height: 60rem;
    width: 100%;
}