.nav{
    @include introMob;
    @include flexRSB;
    padding: 0;
    height: 6rem;
    width: 60rem;
    border-radius: 1rem;
    background-color: $blueMain;
    box-shadow: 0.2rem 0.2rem 0.2rem $shadow;
    &__toggle{
        @include flexC;
        color: $white;
        text-shadow: 0.1rem 0.1rem 0.1rem $shadow;
        width: 7rem;
        height: calc(100% - 1rem);
        border-radius: 0.5rem;
        font-size: 4rem;
        cursor: pointer;
    }
    &__link{
        @include flexRSB;
        font-size: 3.5rem;
        color: $white;
    }
    &__img{
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        background: url("./../images/profiles/3.jpg") no-repeat center/cover;
        margin: 0 1rem 0 1.5rem;
        border: 0.1rem solid $white;
    }
    &__box{
        position: absolute;
        font-size: 4rem;
        top: 11rem;
        border: 0.3rem solid $blueMain;
        box-shadow: 0.2rem 0.2rem 0.2rem $shadow;
        width: 32rem;
        height: 20rem;
        background-color: $white;
        border-radius: 1rem;
        opacity: 0;
        z-index: 2;
        transition: 0.8s ease-in-out;
        @include flexCSA;
        padding-top: 0.5rem;
    }
    &__link2{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $blueMain;
        text-shadow: 0.1rem 0.1rem 0 $shadow;
        @include flexC;
    }
}
.toggle{
    &__open{
        display: block;
    }
    &__close{
        display: none;
    }
}
.toggle__on{
    .toggle{
        &__open{
            display: none;
        }
        &__close{
            display: block;
        }
    }
    .nav{
        &__box{
            opacity: 1;
        }
    }
}