$white: #FFF;
$white2: rgba(255, 255, 255, 0.75);
$white3: rgba(255, 255, 255, 0.50);
$white4: rgba(255, 255, 255, 0.25);
$white5: rgba(255, 255, 255, 0.10);

$shadow:rgba(93, 76, 85, 0.50);
$shadow2:rgba(93, 76, 85, 0.10);


$blueMain:#0E4DA4;
$yellowMain:yellow;
$redMain:red;
$greenMain:#1BB55C;

$bg:#76bacb8e;