.button {
  border: 0;
  width: 13rem;
  font-size: 5rem;
  border-radius: 1rem;
  border: 0.1rem solid #FFF;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.button--big {
  height: 11rem;
  font-size: 7rem;
}
.button--little {
  height: 5rem;
}
.button--maxi {
  width: 27rem;
  font-size: 2rem;
  height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

img {
  width: 100%;
}

.nav {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  height: 6rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #0E4DA4;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
}
.nav__toggle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(93, 76, 85, 0.5);
  width: 7rem;
  height: calc(100% - 1rem);
  border-radius: 0.5rem;
  font-size: 4rem;
  cursor: pointer;
}
.nav__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 3.5rem;
  color: #FFF;
}
.nav__img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 1rem 0 1.5rem;
  border: 0.1rem solid #FFF;
}

.toggle__open {
  display: block;
}
.toggle__close {
  display: none;
}

.toggle__on .toggle__open {
  display: none;
}
.toggle__on .toggle__close {
  display: block;
}

.main {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 60rem;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.3rem solid #0E4DA4;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
}

.identity {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.identity__box {
  border: 0.3rem solid #0E4DA4;
  width: calc(40% - 1rem);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}
.identity__photoProfil {
  height: 10rem;
}
.identity__ratio {
  height: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.identity__ratio i {
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__ratio i:nth-child(4) {
  color: rgba(93, 76, 85, 0.5);
}
.identity__ratio i:nth-child(5) {
  color: rgba(93, 76, 85, 0.5);
}
.identity__ratio h3 {
  margin-top: 1rem;
}
.identity__score {
  height: 3rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: #1BB55C;
}
.identity__score i {
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__score h3 {
  margin-top: 1rem;
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__info {
  border: 0.3rem solid #0E4DA4;
  width: 60%;
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}

.buttonBox__art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "a c" "d f" "e f";
  gap: 1rem;
}
.buttonBox__link:nth-child(1) {
  grid-area: a;
}
.buttonBox__link:nth-child(1) button {
  background-color: #1BB55C;
}
.buttonBox__link:nth-child(2) {
  grid-area: b;
}
.buttonBox__link:nth-child(2) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(3) {
  grid-area: c;
}
.buttonBox__link:nth-child(3) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(4) {
  grid-area: d;
}
.buttonBox__link:nth-child(4) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(5) {
  grid-area: e;
}
.buttonBox__link:nth-child(5) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(6) {
  grid-area: f;
}
.buttonBox__link:nth-child(6) button {
  background-color: #1BB55C;
}

.deconnexion__button {
  background-color: #0E4DA4;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
