.button {
  border: 0;
  width: 13rem;
  font-size: 5rem;
  border-radius: 1rem;
  border: 0.1rem solid #FFF;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}
.button--big {
  height: 11rem;
  font-size: 7rem;
}
.button--little {
  height: 5rem;
}
.button--maxi {
  width: 27rem;
  font-size: 2rem;
  height: 5rem;
  text-transform: uppercase;
}
.button--maxi2 {
  width: calc(100% - 0.5rem);
  font-size: 6rem;
  height: 12rem;
  text-transform: uppercase;
}
.button--maxi3 {
  width: 27rem;
  font-size: 2rem;
  height: 5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 6rem;
}
.button--mini1 {
  height: 5rem;
  width: 5rem;
  background-color: #0E4DA4;
}
.button--mini2 {
  height: 5rem;
  width: 5rem;
  margin: 0 5rem;
  background-color: #1BB55C;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  padding: 2rem 2rem 0 2rem;
  height: 100vh;
}

img {
  width: 100%;
}

#idbg {
  transition-property: opacity;
  transition: 1s ease-in-out;
  opacity: 1;
}

.contener {
  margin: 0 auto;
  padding-top: 2rem;
  width: 40rem;
  height: 80rem;
  border: 0.1rem solid rgba(93, 76, 85, 0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
}
.contener--index {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--profil {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--messagerie {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--discovery {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--activity {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--404 {
  background: url(./../images/rsz_1yulia-matvienko-kgz9vsp5jcu-unsplash.jpg) no-repeat center/cover;
}
.contener--calendar {
  background: url(./../images/40344.jpeg) no-repeat center/cover;
}
.contener--agenda {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}
.contener--final {
  background: url() no-repeat center/cover;
  background-color: #76bacb8e;
}

.nav {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  height: 6rem;
  width: 60rem;
  border-radius: 1rem;
  background-color: #0E4DA4;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
}
.nav__toggle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(93, 76, 85, 0.5);
  width: 7rem;
  height: calc(100% - 1rem);
  border-radius: 0.5rem;
  font-size: 4rem;
  cursor: pointer;
}
.nav__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 3.5rem;
  color: #FFF;
}
.nav__img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background: url("./../images/profiles/1.jpg") no-repeat center/cover;
  margin: 0 1rem 0 1.5rem;
  border: 0.1rem solid #FFF;
}
.nav__box {
  position: absolute;
  font-size: 4rem;
  top: 11rem;
  border: 0.3rem solid #0E4DA4;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
  width: 32rem;
  height: 20rem;
  background-color: #FFF;
  border-radius: 1rem;
  opacity: 0;
  z-index: 2;
  transition: 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 0.5rem;
}
.nav__link2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0E4DA4;
  text-shadow: 0.1rem 0.1rem 0 rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.toggle__open {
  display: block;
}
.toggle__close {
  display: none;
}

.toggle__on .toggle__open {
  display: none;
}
.toggle__on .toggle__close {
  display: block;
}
.toggle__on .nav__box {
  opacity: 1;
}

.main {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 60rem;
  width: 100%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.3rem solid #0E4DA4;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
}

.main2 {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  height: 60rem;
  width: 100%;
}

.identity {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.identity__box {
  border: 0.3rem solid #0E4DA4;
  width: calc(40% - 1rem);
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}
.identity__photoProfil {
  height: 10rem;
  background: url("./../images/profiles/1.jpg") no-repeat center/cover;
  border-radius: 1rem;
  margin: 0.2rem;
}
.identity__ratio {
  height: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.identity__ratio i {
  color: yellow;
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__ratio i:nth-child(4) {
  color: rgba(93, 76, 85, 0.5);
}
.identity__ratio i:nth-child(5) {
  color: rgba(93, 76, 85, 0.5);
}
.identity__ratio h3 {
  margin-top: 1rem;
}
.identity__score {
  height: 3rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: #1BB55C;
}
.identity__score i {
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__score h3 {
  margin-top: 1rem;
  text-shadow: 0.1rem 0.1rem 0.05rem rgba(93, 76, 85, 0.1);
}
.identity__info {
  border: 0.3rem solid #0E4DA4;
  width: 60%;
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}

.buttonBox__art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "a c" "d f" "e f";
  gap: 1rem;
}
.buttonBox__link:nth-child(1) {
  grid-area: a;
}
.buttonBox__link:nth-child(1) button {
  background-color: #1BB55C;
}
.buttonBox__link:nth-child(2) {
  grid-area: b;
}
.buttonBox__link:nth-child(2) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(3) {
  grid-area: c;
}
.buttonBox__link:nth-child(3) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(4) {
  grid-area: d;
}
.buttonBox__link:nth-child(4) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(5) {
  grid-area: e;
}
.buttonBox__link:nth-child(5) button {
  background-color: #0E4DA4;
}
.buttonBox__link:nth-child(6) {
  grid-area: f;
}
.buttonBox__link:nth-child(6) button {
  background-color: #1BB55C;
}

.deconnexion__button {
  background-color: #0E4DA4;
}

.messages__h4 {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(93, 76, 85, 0.5);
}

.error__h2 {
  text-align: center;
  font-size: 5rem;
  color: #FFF;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}
.error__p {
  text-align: center;
  font-size: 4rem;
  color: #0E4DA4;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}

.calendar__img {
  width: 100%;
  margin-top: 10rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}
.calendar__span {
  font-size: 2rem;
}

.agenda {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.agenda button:nth-child(2) {
  background-color: #1BB55C;
}
.agenda button:nth-child(4) {
  background-color: #0E4DA4;
}
.agenda__box {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  background: url(./../images/image2.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.agenda__h4 {
  color: #1BB55C;
  font-size: 4rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
}

.footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.bubble1 {
  height: 8rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.bubble1__h4 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.bubble2 {
  height: 24rem;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.bubble2__p {
  text-align: center;
  font-size: 1.5rem;
}

.activity_profileBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1rem;
}
.activity_profileBox .activity_profilePicture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #0E4DA4;
}
.activity_profileBox .activity_profilePicture:nth-child(1) {
  background-image: url("../images/profiles/1.jpg");
}
.activity_profileBox .activity_profilePicture:nth-child(2) {
  background-image: url("../images/profiles/2.jpg");
}
.activity_profileBox .activity_profilePicture:nth-child(3) {
  background-image: url("../images/profiles/3.jpg");
}
.activity_profileBox .activity_profilePicture:nth-child(4) {
  background-image: url("../images/profiles/4.jpg");
}
.activity_profileBox .activity_profilePicture:nth-child(5) {
  background-image: url("../images/profiles/6.jpg");
}

.multiBtn__art {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: auto;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.1rem solid #FFF;
}

.final {
  height: 100%;
}
.final__art {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2rem 0;
}
.final__art button:nth-child(2) {
  background-color: #1BB55C;
}
.final__art button:nth-child(3) {
  background-color: #0E4DA4;
}
.final__art button:nth-child(4) {
  background-color: #1BB55C;
}
.final__art button:nth-child(5) {
  background-color: #0E4DA4;
}
.final__box {
  height: 20rem;
  width: 100%;
  border-radius: 1rem;
  background: url(./../images/image2.png) no-repeat center/cover;
}

.news {
  background: url(./../images/image2.png) no-repeat center/cover;
  height: 100%;
  width: calc(100% - 1rem);
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.news__art {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 2rem;
  width: 8rem;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #0E4DA4;
  width: 2rem;
  height: 2rem;
  border: 0.15em solid #0E4DA4;
  border-radius: 50%;
  transform: translateY(-0.075em);
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(93, 76, 85, 0.5);
  display: grid;
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #0E4DA4;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=radio]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.indexTripleButtons {
  display: grid;
  grid-template-areas: "a a" "b b" "c d";
  gap: 1rem;
}
.indexTripleButtons__link:nth-child(1) {
  grid-area: a;
}
.indexTripleButtons__link:nth-child(1) button {
  background-color: #1BB55C;
}
.indexTripleButtons__link:nth-child(2) {
  grid-area: b;
}
.indexTripleButtons__link:nth-child(2) button {
  background-color: #0E4DA4;
}
.indexTripleButtons__link:nth-child(3) {
  grid-area: c;
}
.indexTripleButtons__link:nth-child(3) button {
  background-color: #1BB55C;
}
.indexTripleButtons__link:nth-child(4) {
  grid-area: d;
}
.indexTripleButtons__link:nth-child(4) button {
  background-color: #1BB55C;
}

/*# sourceMappingURL=style.css.map */
